.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(242, 238, 238);
}
.footer-ontainer2 {
  margin: 1px;
}
.icons {
  margin: 20px;
}
